
::placeholder {
    color: lightgray;
}
input {
    margin-top: 50px;
    height: 35px;
    /* background-color: red; */
    width: 30%;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 100%;
    text-align: center;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    outline: none;
    background-color: #30336b;
    border: 2px solid white;
}

input:focus{
    width: 32%;
    height: 52px;

}

